<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udacity DSND Capstone">
    <meta name="author" content="Kevin DeJesus">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Song Lyric Predictor - Udacity DSND Capstone Project</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/capstone">Song Lyric Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/eda">Exploratory Data Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Lyric Categories</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/search">Song Lyric Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">External Links</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics">Lyrics Data</a>
              <a class="dropdown-item" href="http://www.chartlyrics.com/api.aspx">ChartLyrics API</a>
              <a class="dropdown-item" href="https://www.udacity.com">Udacity</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/kevin-dejesus/">LinkedIn Profile</a>
              <a class="dropdown-item" href="https://github.com/deg75kd">GitHub Profile</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Song Lyric Predictor</h1>
          <p>This website presents my efforts to categorize song lyrics using Data Science.  The first step was to obtain a dataset of song lyrics.  After looking at several options, I decided on a dataset hosted on kaggle.com by the user gyani95.  It is a large dataset with several genres represented.</p>
          <p>The next step in the process was to clean the data.  I found it to be pretty messy and required a fair amount of clean up.  After I had the data in a suitable state, I analyzed it so identify some of the more interesting trends in this particular dataset.  From that analysis I created a number of graphics to illustrate my findings.</p>
          <p>Then I created a machine learning pipeline and fed in the dataset to create a predictive model.  I also captured the results of the model so users can see how accurate it is.  Finally, I created a process that allows a user to search for a song and apply the machine learning model to it.  This results in the predicted genre of the song.</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Exploratory Data Analysis</h2>
            <p>Before setting out to categorize the song lyrics, I wanted to see what my dataset looked like.  This page displays a number of graphics showing the analysis of that data.</p>
            <p><a class="btn btn-secondary" href="/capstone/eda" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Lyric Categories</h2>
            <p>Machine learning model. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Song Lyric Search</h2>
            <p>Search for a song and use the model to categorize it.</p>
            <p><a class="btn btn-secondary" href="/capstone/search" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Kevin DeJesus 2020</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>
