{% extends "search.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">Query</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h2 class="text-center">Query Results</h2>
        {% for index, row in table.iterrows() %}
            <p class="text-center">
                <a href="/results?lyricId={{ row['lyric_id'] }}&lyricCheckSum={{ row['lyric_check_sum'] }}&artist={{ row['artist'] }}&song={{ row['song'] }}">{{ row['artist'] }} - {{ row['song'] }}</a>
            </p>
        {% endfor %}
{% endblock %}
