<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udacity DSND Capstone">
    <meta name="author" content="Kevin DeJesus">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Song Lyric Predictor - Udacity DSND Capstone Project</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">

    <!--import script files needed from plotly and bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

<body>

    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/capstone">Song Lyric Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/eda">Exploratory Data Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/mldata">ML Data</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/search">Song Lyric Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">External Links</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics">Lyrics Data</a>
              <a class="dropdown-item" href="http://www.chartlyrics.com/api.aspx">ChartLyrics API</a>
              <a class="dropdown-item" href="https://www.udacity.com">Udacity</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/kevin-dejesus/">LinkedIn Profile</a>
              <a class="dropdown-item" href="https://github.com/deg75kd">GitHub Profile</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron -->
      <div class="jumbotron">
          <!--chart descriptions-->       
          <div class="container">
            <h1 class="display-4">Machine Learning Model Data</h1>
            <p>To create the machine learning model I first created a GridSearchCV pipeline using CountVectorizer, TfidfTransformer and RandomForestClassifier from the scikit-learn Python package.  CountVectorizer converts a collection of text documents to a matrix of token counts.  TfidfTransformer then transforms that to a normalized tf-idf representation, where tf-idf means term-frequency times inverse document-frequency.  This weights the text of each song lyrics against the total collection.  Finally, RandomForestClassifier was used to create the prediction model using the tf-idf data.</p>
            <p>For the parameters I only used one parameter for each package and only two options for each of those.  Initially I was testing using a small 10,000 row subset of the data.  The model was usually created within 8 minutes.  However, when I plugged in the full dataset, this process ran for over 15 hours.  Thus, with my processing and time limitations I have chosen not to explore additional parameters.</p>
            <p>After the model was trained, I created and saved a confusion matrix and classification report.  Then I saved everything to pickle files for easy retrieval upon request by a user.</p>
            <p>I believe there are several issues that have prevented the model from being more accurate.  First, the dataset is heavily skewed toward the Rock genre as well as for the years 2006-2007.  It's very likely that the topics covered by Rock songs of the 1970s or 1990s are not well reflected by that timeframe.  The second issues is the size of the dataset.  As mentioned above, when I ran the model against the full dataset, the run time became impractical for multiple runs.  On an enterprise system I might have access to more resources to allow for multiple executions.</p>
          </div>
      </div>
        
        <!--data-->       
        <div class="container">
            <div class="row">
                <h5>Classficiation Report</h5>
            </div>
            <div class="row">
                <p>
                  <pre>{{ cls_report }}</pre>
                </p>
            </div>
            <div class="row">
                <p></p>
            </div>

        <!--confusion matrix-->
            <div class="row">
                <h5>Confusion Matrix for Classfication Model</h5>
            </div>
            <div class="row">
                <div id="{{ids[0]}}"></div>
            </div>
        </div>

    </main>

    <!--footer section-->               
    <footer class="container">
      <p>&copy; Kevin DeJesus 2020</p>
    </footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>

</body>
</html>