<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Song Lyric Predictor - Category Search</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/capstone">Song Lyric Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/eda">Exploratory Data Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Lyric Categories</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/search">Song Lyric Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">External Links</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics">Lyrics Data</a>
              <a class="dropdown-item" href="http://www.chartlyrics.com/api.aspx">ChartLyrics API</a>
              <a class="dropdown-item" href="https://www.udacity.com">Udacity</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/kevin-dejesus/">LinkedIn Profile</a>
              <a class="dropdown-item" href="https://github.com/deg75kd">GitHub Profile</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Song Lyric Predictor</h1>
        <p class="text-center">Search for your favorite song to see what genre the machine learning model thinks it is.</p>
        <p class="text-left text-muted">Due to restrictions with the site that hosts the lyrics this search is done at the lyrics level.  This means it may not return the song you want, even if you enter the exact name.  If that happens, try to search using the first line or a line from the chorus.</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/capstone/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a song name">
                    <div class="col-lg-offset-5 text-center">
                        <button type="submit" class="btn btn-lg btn-success">Search</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

    {% block content %}
    {% endblock %}

    <footer class="container">
      <hr />
      <p>&copy; Kevin DeJesus 2020</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>

