<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udacity DSND Capstone">
    <meta name="author" content="Kevin DeJesus">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Song Lyric Predictor - Udacity DSND Capstone Project</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">

    <!--import script files needed from plotly and bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

<body>

    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/capstone">Song Lyric Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/eda">Exploratory Data Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/mldata">ML Data</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/search">Song Lyric Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">External Links</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics">Lyrics Data</a>
              <a class="dropdown-item" href="http://www.chartlyrics.com/api.aspx">ChartLyrics API</a>
              <a class="dropdown-item" href="https://www.udacity.com">Udacity</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/kevin-dejesus/">LinkedIn Profile</a>
              <a class="dropdown-item" href="https://github.com/deg75kd">GitHub Profile</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Song Lyric Search</h1>
        <p class="text-left">Search for your favorite song to see what genre the machine learning model thinks it is.</p>
        <p class="text-left text-muted">Due to restrictions with the site that hosts the lyrics this search is done by the text of the lyrics.  This means it may not return the song you want, even if you enter the exact song name.  If that happens, try to search using the first line or a line from the chorus.</p>
        <p class="text-left text-muted"><i>Due to a lack of memory in the Heroku application a model built with 10,000 rows is used in this section.</i></p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/capstone/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a song name">
                    <div class="col-lg-offset-5 text-center">
                        <button type="submit" class="btn btn-lg btn-success">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="container">
{% block content %}
{% endblock %}
    </div>

    <footer class="container">
      <hr />
      <p>&copy; Kevin DeJesus 2020</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>

